// Вот так пишется комментарий


@import "nullstyle.scss"; /*Подключение стороннего файла*/

/*$fz:100px;*/ /*Переменная*/
$color_1:green; /*Переменная*/
$color_2:yellow; /*Переменная*/

.tplborder{  /*Шаблоны*/
	font-size: 100px;
	border-bottom: 5px dashed red;
}
@mixin fontz($f, $c){
	font-size: $f;
	color: $c;
}
.block{
	width: 300px / 960px *100%;
	background:  #666;
	padding: 30px;
	line-height: 60px;
	.block__text{
		font-size: 80px;
		span{
			color: green;
		}
	}
}
.link{
	color: grey;
	text-decoration: underline;
	font-size: 80px;
	.block &{
		font-size: 120px;
	}
	&:hover{
		color: yellow;
	}
	@extend .tplborder;
}
.link-2{
	@include fontz(110px, magenta);
	border-bottom: 5px dashed #000;
	@extend .tplborder;
}